*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 55%;
    margin: auto;
    overflow: hidden;
    margin-top: 70px;
    position: relative;
}

.carusel{
    display: flex;
    width: 100%;
    height: 500px;
}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 95%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.dots{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    cursor: pointer;
}
.dot{
    height: 15px;
    width: 15px;
   
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid black;
    transition: transform 0.5s ease;
}

.active{
    background: rgb(197, 10, 10);
}
.first,
.last{
    display: none;
}